<!DOCTYPE html>
<html>
  <head>
    <title>Corporate Sourcing Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(page === 'login') { %>
      <%-include ./pageContent/loginPage/index.ejs %>
    <% } %>
    <% if(page === 'staffLogin') { %>
      <%-include ./pageContent/staffPage/index.ejs %>
    <% } %>
    <% if(page === 'adminLogin') { %>
      <%-include ./pageContent/adminPage/index.ejs %>
    <% } %>
    <% if(page === 'vendorLogin') { %>
      <%-include ./pageContent/vendorPage/index.ejs %>
    <% } %>
  </body>
</html>
