<div class="wrapper fadeInDown">
    <!--  Error Message Section -->

    <!-- Form Section -->
    <div id="formContent">
        <!-- Tabs Titles -->
        <div>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" id='sales-tab' data-toggle='pill'
                        href="#salesLogin" roll='tab' aria-controls='salesLogin'
                        aria-selected="true">Sales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="manager-tab" data-toggle='pill'
                        href="#adminLogin" roll='tab' aria-controls=
                        'managerLogin'>Admin</a>
                </li>
            </ul>
        </div>
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="/images/loginIcon.jpg" id="icon"
                alt="User Icon" />
            <div>
                <h5 class=""> Corporate Sourcing App </h5>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            <!-- Sales Login Form -->
            <form class="tab-pane fade show active" id='salesLogin'
                role="tabpanel" aria-labelledby="sales-tab"
                action="/Staff_Authenticate" method="POST">
                <p>SALES</p>
                <input type="text" id="username" class="fadeIn first"
                    name="username"
                    placeholder="" value="TestUser" required>
                <input type="password" id="password" class="fadeIn second"
                    name="password" value='TestPassword' required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Manager Login Form -->
            <form class="tab-pane fade" id='adminLogin' role="tabpanel"
                aria-labelledby="admin-tab" action="/Admin_Authenticate"
                method="POST">
                <p>ADMIN</p>
                <input type="text" id="login" class="fadeIn first"
                    name="username"
                    placeholder="" value="TestUsername" required>
                <input type="password" id="password" class="fadeIn second"
                    name="password" value="TestPassword" required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
        </div>
        <div id="formFooter">
            <a class="underlineHover popup-open open-btn" id="forgottPass"
                href="#popup1">Forgot Password?</a>
        </div>
    </div>
    
    <!-- Popup section -->
    <div class="popup-wrap" id="popup1">
        <div class="popup-box">
            <h2>Forgot Your Credentials??</h2>
            <h3>No worries just email <a href="mailto:TestEmail@Test.com">TestEmail@Test.com</a>
            </h3>
            <a class="close-btn popup-close" id='x-out' href="#">x</a>
        </div>
    </div>
</div>